# build artifacts
build/out/
*.aux
*.log
*.out
*.toc
*.pdf
*.docx
_site/
.jekyll-cache/
.sass-cache/
.DS_Store

# generated assets (should be created by CI/CD)
assets/paper/*.pdf
assets/paper/*.html
assets/paper/*.tex
